
@{
    ViewBag.Title = "CLB";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<head>
    Basic
    <meta charset="UTF-8">

    <title>Modals | SHARED ON THEMELOCK.COM</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    Mobile Metas
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    Web Fonts
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    Vendor CSS
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />
    Specific Page Vendor CSS
    <link rel="stylesheet" href="assets/vendor/pnotify/pnotify.custom.css" />
    Theme CSS
    <link rel="stylesheet" href="assets/stylesheets/theme.css" />
    Skin CSS
    <link rel="stylesheet" href="assets/stylesheets/skins/default.css" />
    Theme Custom CSS
    <link rel="stylesheet" href="assets/stylesheets/theme-custom.css">
    <link href="@Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">CLB</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Trang Chủ</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">CLB</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- GYM Feature Start -->
    <h2 class="section-title">TẬP LUYỆN Ở CÁC CÂU LẠC BỘ GẦN BẠN </h2>
    <div class="nd">
        <br>
        <h5>Hệ thống phòng tập gym và yoga của WIBU GYM có mặt khắp các quận TPHCM.</h5>
        <h5>Lựa chọn phòng tập gần bạn nhất để có thể tập luyện dễ dàng và tiết kiệm thời gian.</h5>
        </br>
        <select>
            <option>Chọn quận gần bạn</option>
            <option>Quận 1</option>
            <option>Quận 2</option>
            <option>Quận 3</option>
            <option>Quận Bình Thạnh</option>
            <option>Quận 9</option>
            <option>Quận Gò Vấp</option>
            <option>Quận 7</option>
            <option>Quận Tân Bình</option>
            <option>Quận Phú Nhuận</option>
            <option>Quận 12</option>
        </select>

    </div>
    <div class="slider-row">
        <div class="col-4">
            <a href="/detail.html">
                @* <img src="./img/clb1.jpg" alt="Image" width="350" height="200">*@
                <img class="slide-image" src="~/Content/Images/clb1.jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">HIGH CLUB GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6>628 Quang Trung, Phường 11, Quận Gò Vấp, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>

        <div class="col-4">
            <a href="/detail.html">
                @* <img src="./img/clb2jpg.jpg" alt="Image" width="350" height="200">*@
                <img class="slide-image" src="~/Content/Images/clb2jpg.jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">Điện Biên GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6> 119 Phổ Quang, Phường 09, Quận Phú Nhuận, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>
        <div class="col-4">
            <a href="/detail.html">
                @* <img src="./img/clb8.jpg" alt="Image" width="350" height="200">*@
                <img class="slide-image" src="~/Content/Images/clb8.jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">Cao Thắng GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6> 34-35 Bến Vân Đồn, Phường 12, Quận 4, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>

    </div>
    <div class="slider-row">
        <div class="col-4">
            <a href="/detail.html">
                @* <img src="./img/clb5.jpg">*@
                <img class="slide-image" src="~/Content/Images/clb5.jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">Lê Lợi GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6> 28 Lê Lợi, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>
        <div class="col-4">
            <a href="/detail.html">
                @* <img src="./img/clb6].jpg">*@
                <img class="slide-image" src="~/Content/Images/clb6].jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">Style GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6>TTTM Vạn Hạnh Mall, Phường 12, Quận 10, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>

        <div class="col-4">
            <a href="/detail.html">
                @* <img src="./img/clb7.jpg">*@
                <img class="slide-image" src="~/Content/Images/clb7.jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">Sunrise GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6> 23 - 25 - 27 Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>

    </div>
    <div class="slider-row">
        <div class="col-4">
            <a href="/detail.html">
                @*  <img src="./img/clb9.jpg">*@
                <img class="slide-image" src="~/Content/Images/clb9.jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">Street GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6> 144 Lê Văn Việt, Phường Hiệp Phú, Quận 9, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>
        <div class="col-4">
            <a href="/detail.html">
                @* <img src="./img/clb10.jpg">*@
                <img class="slide-image" src="~/Content/Images/clb10.jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">MoonPower GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6> 526 Điện Biên Phủ, Phường 21, Quận Bình Thạnh, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>

        <div class="col-4">
            <a href="/detail.html">
                @* <img src="./img/clb11.jpg">*@
                <img class="slide-image" src="~/Content/Images/clb11.jpg" alt="">
                <div class="item-gym">
                    <a href="/detail.html" class="title">WaterBay Sport GYM </a>
                    <div class="icon-list">
                        <i class="remixicon-map-pin-fill"></i>
                        <front size="5px">
                            <h6> số 25-26 Mai Chí Thọ, Phường Bình Khánh, Quận 2, Thành phố Hồ Chí Minh</h6>
                        </front>
                    </div>
                    <div class="phone">
                        <i class="remixicon-phone-fill"></i>
                        <front size="3px"> <a href="1900123456">1900123456</a></front>
                    </div>
                </div>
</div>
    </div>
    <!-- GYM Feature End -->
    <!-- Testimonial Start -->
    <div class="container-fluid position-relative testimonial mt-5" style="margin-bottom: 90px;">
        <div class="container">
            <div class="row px-3 align-items-center">
                <div class="col-md-6 bg-secondary">
                    <div class="d-flex align-items-center px-3" style="min-height: 450px;">
                        <div id="carouselId" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselId" data-slide-to="1"></li>
                                <li data-target="#carouselId" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="d-flex align-items-center mb-4 text-white">
                                        @*  <img width="80" height="80" class="rounded-circle bg-dark p-2" src="img/testimonial-1.jpg"*@
                                        <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/Content/Images/testimonial-1.jpg"
                                             alt="Image" />
                                        <div class="pl-4">
                                            <h4 class="text-primary">Hồ Văn Thịnh</h4>
                                            <p class="m-0">Thành Viên</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                        Tập luyện để có cơ thể khỏe mạnh chạy deadline
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex align-items-center mb-4 text-white">
                                        @*  <img width="80" height="80" class="rounded-circle bg-dark p-2" src="img/testimonial-2.jpg"
                                            alt="Image">*@
                                        <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/Content/Images/testimonial-2.jpg"
                                             alt="Image" />
                                        <div class="pl-4">
                                            <h4 class="text-primary">Trương Văn Thịnh</h4>
                                            <p class="m-0">Thành Viên</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                        Hãy siêng năng tập luyện để có một cơ thể đẹp hơn
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex align-items-center mb-4 text-white">
                                        @* <img width="80" height="80" class="rounded-circle bg-dark p-2" src="img/testimonial-3.jpg"
                                             alt="Image">*@
                                        <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/Content/Images/testimonial-3.jpg"
                                             alt="Image" />
                                        <div class="pl-4">
                                            <h4 class="text-primary">Ngô Văn Thịnh</h4>
                                            <p class="m-0">Thành Viên</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                        Muốn khỏe đẹp thì hãy tập thể thao
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pl-md-3 d-none d-md-block">
                        <h4 class="text-primary">Lời Chứng Thực</h4>
                        <h2 class="display-4 mb-4 text-white front-weight-bold">Nội Dung</h2>
                        <p class="m-0 text-white">
                            Thực đơn cho người mới tập gym thường bắt đầu với khẩu phần ăn hợp lý.
                            Thế nhưng, không phải thực phẩm nào cũng nên đưa vào thực đơn và
                            không nhất thiết phải một loại thức ăn đó lặp lại quá nhiều lần.
                            Cholesterol có trong trứng và nếu ăn nhiều trứng thì cholesterol sẽ tăng cao trong máu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
   
    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
